/* css */
body {
  background-color: #735d58;
  text-align: center;
}
h1 {
  font-style: italic;
  color: #461c23;
  font-size: 50px;
}
p {
  background-color: blanchedalmond;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  color: #2f3840;
  text-align: center;
  padding: 55px;
  line-height: 30px;
}

img {
  border-radius: 50%;
  width: 600px;
  height: 600px;
  margin-top: 25px;
  object-fit: cover;
}

.link {
  width: 100px;
  height: 100px;
  margin-top: 300px;
}
#circles {
  display: flex;
  justify-content: space-around;
}

#caixas-de-texto {
  height: 100vh;
  display: inline-block;
  align-items: center;
}
textarea {
  margin-top: 200px;
  text-align: justify;
}
#offset {
  text-align: justify;
}
